a {
  color: blue;
  cursor: pointer;
}

.registration-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.registration-container {
  margin-top: 70px;
  padding-top: 30px;
  width: 400px;
  height: 250px;
  background-color: lightgray;
  text-align: center;
  border-radius: 10px;
  position: relative;
}

.registration-container div,
.registration-container p,
.registration-container button {
  margin-top: 20px;
}

.registration-container input {
  display: inline-block;
}

.registration-error {
  position: absolute;
  color: red;
  top: -30px;
  width: 100%;
}