<div class="registration-wrapper">
  <div class="registration-container">
    <div *ngIf="registrationError" class="registration-error">
      <p>Please, check correctness and completeness of your input</p>
    </div>
    <div class="registration-name-container">
      <input [(ngModel)]="userToRegister.name" type="text" placeholder="User name"/>
    </div>
    <div class="registration-email-container">  
      <input [(ngModel)]="userToRegister.email" type="email" placeholder="User email"/>
    </div>
    <div class="registration-password-container">
      <input [(ngModel)]="userToRegister.password" type="password" placeholder="User password"/>
    </div>  
    <button (click)="add(userToRegister)">Add User</button> 
    <p>Already have an account? Please, click <a (click)="redirectToLogin()">here</a> to log in.</p>
  </div>
</div>
