<mat-toolbar>
  <div>
    <app-add-item-window (emitText)="addColumn($event)" question="Add new column">
      <button mat-raised-button color="black">
        New Column
      </button>
    </app-add-item-window>
  </div>
  <div>
    <span>Hi, <span class="name-container">{{userName}}</span>. How are you today?</span>
    <button class="logout-btn" (click)="logout()">Log Out</button>
  </div>
  <button (click)="downloadData()">Export to Excel</button>
  


</mat-toolbar>
