.name-container {
  color: lightseagreen;
}

.mat-toolbar-single-row {
  justify-content: space-between;
}

.mat-toolbar-single-row div:nth-child(2) {
  display: flex;
  align-items: center;
}

.mat-toolbar-single-row div:nth-child(2) button {
  margin-left: 10px;
  font-weight: bold;
  cursor: pointer;
  padding: 7px 10px;
  background-color: #add8e6;
  border-radius: 5px;
  border: 1px solid #000;
}

.mat-toolbar-single-row div:nth-child(2) button:hover {
  background-color: lightcoral;
}

.mat-toolbar-single-row > button {
  padding: 7px 10px;
  background-color: #ffa07a;
  cursor: pointer;
}

.mat-toolbar-single-row > button:hover {
  background-color: #90ee90;
}

.mat-raised-button:hover {
  background-color: lightblue;
}