<div class="color-panel-container">
  <div *ngFor="let color of colorsData">
    <div
      [ngStyle]="{background: color}"
      class="color-panel-item"
      (click)="onColorEmit(color)"
    >

    </div>
  </div>
</div>

