a {
  color: blue;
  cursor: pointer;
}

.login-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.login-container {
  margin-top: 70px;
  padding-top: 30px;
  width: 400px;
  height: 250px;
  background-color: khaki;
  text-align: center;
  border-radius: 10px;
  position: relative;
}

.login-container div,
.login-container p,
.login-container button {
  margin-top: 20px;
}

.login-container input {
  display: inline-block;
}

.login-error {
  position: absolute;
  color: red;
  top: -30px;
  width: 100%;
}