<div class="login-wrapper">
  <div class="login-container">
    <div *ngIf="loginError" class="login-error">
      <p>Please, check your credentials</p>
    </div>
    <div class="user-email-container">
      <input [(ngModel)]="userAuth.email" type="email" placeholder="User email"/>
    </div>
      <div class="user-password-container">
        <input [(ngModel)]="userAuth.password" type="password" placeholder="User password"/>
      </div>
    <button (click)="login(userAuth)">Login User</button>
    <p>Do not have an account yet? Please, click <a (click)="redirectToRegistration()">here</a> to register.</p>
  </div>
</div>