<app-header></app-header>
<div>
  <div cdkDropListGroup class="list-container">
    <div *ngFor="let column of boardService.getBoard$() | async">
      <div class="title-container">
        <h2>{{ column.title }}</h2>
        <button mat-icon-button class="icon-delete" (click)="onDeleteColumn(column.id)">
          <mat-icon style="font-size: 20px;">delete</mat-icon>
        </button>
      </div>

      <app-add-item-window (emitText)="onAddCard($event, column.id)" [question]="'Add new card in ' + column.title + ' column'">
        <button mat-raised-button class="btn-add">Add New Card</button>
      </app-add-item-window>

      <app-color-panel (emitColor)="onColorChange($event, column.id)"></app-color-panel>

      <div
        cdkDropList
        [cdkDropListData]="column.list"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
      >

          <div
            cdkDrag
            [cdkDragData]="item"
            class="example-box"
            [ngStyle]="{background: column.color}"
            *ngFor="let item of column.list"
          >
            <app-board-item 
              [item]="item" 
              (emitText)="onAddComment($event,column.id)"
              (emitCardItem)="onChangeLike($event, column.id)"
              (emitDeleteCard)="onDeleteCard($event, column.id)"
              >
              <div *ngFor="let comment of item.comments">
                <app-comment-item [comment]="comment" (emitComment)="onDeleteComment($event, column.id, item)"></app-comment-item>
              </div>
            </app-board-item>
          </div>

      </div>
    </div>
  </div>
</div>

