
.example-list {
  min-height: 300px;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.example-box {
  padding: 10px 10px 5px 10px;
  color: #000;
  cursor: move;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.list-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 10px;
}

.list-container > div {
  width: 18%;
  margin: 0 1%;
  justify-self: flex-start;
  min-height: 300px;
  border: solid 1px #ccc;
  border-radius: 5px;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 3px;
}

.title-container h2 {
  margin: 0;
}

.btn-add {
  background-color: rgb(206, 206, 206);
  width: 100%;
}

.btn-add:hover {
  background-color: #f0e68c;
}

.column-header {
  border: 1px solid rgb(207, 207, 207);
}