.comment-item {
  margin-bottom: 5px;
  border: 1px solid black;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text-container {
  display: flex;
  flex-direction: column;
}

.text-container p {
  margin: 0;
}

.text-container p:first-child {
  font-weight: bold;
}

.comment-item-date {
  border-top: 1px solid #000;
  font-size: 11px;
}