<div class="comment-item">
  <div class="text-container">
    <p>{{ comment.userName }} wrote:</p>
    <p>{{ comment.text }} </p>
    <p class="comment-item-date">{{ comment.createdDate }} </p>
  </div>
  
  <button mat-icon-button class="icon-delete" (click)="onCommentEmit(comment)">
    <mat-icon style="font-size: 18px;">delete</mat-icon>
  </button>
</div>
