<div class="delete-button-container">
  <div class="card-info">
    <div class="card-info-text">
      {{ item.text }}
    </div>
    <div class="card-info-name">
      created by {{ item.userName }}
    </div>
    <div class="card-info-date">
      {{ item.createdDate }}
    </div>
  </div>
  <button mat-icon-button class="icon-delete" (click)="onCardDelete(item.id)">
    <mat-icon style="font-size: 18px;">delete</mat-icon>
  </button>
</div>

<div class="likes-container">
  <button mat-icon-button (click)="onCardItemEmit(item, false)">
    <mat-icon class="icon">thumb_down_off_alt</mat-icon>
  </button>
  <button mat-icon-button disableRipple (click)="onCardItemEmit(item, true)">
    <mat-icon class="icon">thumb_up_off_alt</mat-icon>
  </button>
  <span>{{ item.likes }}</span>
  <button mat-icon-button disableRipple (click)="onOpenComment()">
    <mat-icon class="icon">chat_bubble_outline</mat-icon>
  </button>
  <span>{{ item.comments.length }}</span>
</div>

<div *ngIf="open">
  <mat-form-field class="comments-container">
    <mat-label>{{userNameUpd}} leaves a comment...</mat-label>
    <textarea matInput [(ngModel)]="commentInput" (mousedown)="$event.stopPropagation()"></textarea>
    <button
      mat-button
      *ngIf="commentInput"
      matSuffix
      mat-icon-button
      color="black"
      class="icon-confirm"
      (click)="onCommentTextEmit(item.id)" 
    >
      <mat-icon>done</mat-icon>
    </button>
  </mat-form-field>

  <ng-content></ng-content>
</div>