.icon {
  font-size: 18px;
}

.mat-icon-button {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color ease .2s;
}

.mat-icon-button:hover {
  color: rgb(255, 255, 255);
}

.mat-icon-button .mat-button-wrapper > * {
  vertical-align: none;
}

mat-form-field.mat-form-field {
  background-color: rgb(212, 212, 212);
  padding: 10px 10px 0 10px;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-required-marker {
  color: black;
}

::ng-deep .mat-form-field.mat-focused .mat-input-element {
  color: black;
}

.icon-confirm {
  font-size: 20px;
}

.delete-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.likes-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

mat-form-field.comments-container {
  width: 100%;
  padding: 0;
}

.card-info {
  display: flex;
  flex-direction: column;
}

.card-info-text {
  border-bottom: 1px solid #000;
}

.card-info-name {
  font-size: 12px;
  font-weight: bold;
}

.card-info-date {
  font-size: 12px;
}